
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;     
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;     
}


*, *::before, *::after {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}

.header {
  background-color: #a10000;
  color: white;
  padding: 1rem;
  text-align: center;
}

.hero {
  padding: 2rem;
  background: #fff0f0;
  text-align: center;
}

.productos {
  padding: 2rem;
}

.lista-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.producto {
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
}

.footer {
  background-color: #a10000;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}